/*
 * Général
 * ***** */

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/* 
 * Colors
 * ****** */
.bg-lightgrey {
    background-color: lightgrey;
}

.bg-grey {

    background-color: gray;
}

.bg-red {
    background-color: red;
}

.bg-green {
    background-color: green;
}

.bg-yellow {
    background-color: yellow;
}

.bg-purple {
    background-color: purple;
}



/* 
 * Text
 * **** */

.txt-center {
    text-align: center;
}

.title {
    text-align: center;
    margin-bottom: 2em;
}


/* 
 * Padding & Margin
 * **************** */

.padl-1 {
    padding-left: 1em;
}

.padb-1 {
    padding-bottom: 1em;
}
.pad-1 {
    padding: 1em;
}

.pad-2 {

    padding: 2em;
}




.mrg-1 {
    margin: 1em;
}

.mrg-2 {
    margin: 2em;
}


.mrgb-1 {
    margin-bottom: 1em;
}

.mrgb-2 {
    margin-bottom: 2em;
}



.mrgt-1 {
    margin-top: 1em;
}

.mrgt-2 {
    margin-top: 2em;
}



.mrgl-1 {
    margin-left: 1em;
}

.mrgl-2 {
    margin-left: 2em;
}



.mrgr-1 {
    margin-right: 1em;
}

.mrgr-2 {
    margin-right: 2em;
}



/* 
 * Flex
 * **** */

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.jus-cont-spacebetween {
    display: flex;
    justify-content: space-between;
}

.jus-cont-center {

    display: flex;
    justify-content: center;
}

.jus-cont-around {
    display: flex;
    justify-content: space-around;
}

.align-i-center {
    display: flex;
    align-items: center;
}


.flx-center {
    display: flex;
    justify-content: center;
}


/* 
 * Width & Height
 * ************** */



.w-50 {
    width: 50%;
}

.w-100 {

    width: 100%;
}




/* 
 * Navbar
 * ****** */

.navbar {
    display: flex;
    justify-content: space-between;
    grid-area: nav;
    width: 100%;
    position: fixed;
}

.nav-item {
    padding: 0 1em;
}

.links {
    font-size: large;
    padding: 10px;
}



/* 
 * Header
 * ****** */

.header {
    grid-area: head;
    padding: 50px;
}

.bg-image {
    background-image: url(IMGs/fond.jpeg);
    display: flex;
    width: auto;
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: flex-end;
}

.head-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    width: 90px;
    height: 60px;
}

.head-btn:hover {
    border: 2px solid black;
    border-radius: 4px;
}

/* 
 * Main
 * **** */
.main {

    grid-area: main;
    padding: 2%;
}

.card {
    margin: 8px;
    background-color: darkgray;
    text-align: center;
    padding: 10px;
}

.card>h5 {
    text-align: end;
}

.jack {

    max-width: 40%;
    max-height: 65%;
}

/* 
 * Contact
 * ******** */




.contact {
    grid-area: contact;
    padding: auto;
    margin: auto;
}

.contactBox {
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
}

.formulaire {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.mailName {
    display: flex;
    flex-direction: row;
    justify-content: center;

}


.sujet {

    padding-bottom: 25px;
}




/* 
 * Footer
 * ****** */

.footer {
    display: grid;
    grid-area: footer;
    padding-top: 7vh;
}



.part1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    
}

.part2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
}

.allIcons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}


.icons {
    font-size: 25pt;
    padding-top: 5%;
    text-align: center;
    color: solid black;
    
}




.img-asso {
    width: 100%;
    height: 100%;
}

/* 
 * Grid
 * **** */

.cont {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: 7vh auto auto auto auto;
    grid-template-areas:
        "nav nav nav nav"
        "head head head head"
        "main main main main"
        "contact contact contact contact"
        "footer footer footer footer";
    grid-row-gap: 10px;
}





.footerGrid {
    display: grid;
    grid-template-columns: 30% 30%;
    grid-template-rows: 80%;
    grid-template-areas:
        "part1 part2";
    column-gap: 20%;
    justify-content: center;
}




/* 
 * @Media
 * ****** */


@media screen and (max-width: 640px) {




    /** Grid **/

    .cont {
        width: 100%;
        min-height: 100vh;
        display: grid;
        grid-template-columns: repeat(4, 25vw);
        grid-template-rows: 7vh auto auto auto auto;
        grid-template-areas:
            "nav nav nav nav"
            "head head head head"
            "main main main main"
            "contact contact contact contact"
            "footer footer footer footer";
    }

    .footerGrid {
        min-width: 100%;
        min-height: 100vh;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:
            "part1"
            "part2";
    }




    /** Navbar **/




    .navbar {
        display: flex;
        max-width: 100%;
        flex-direction: column;
        grid-area: nav;
        position: absolute;
    }


    /** Header **/


    .header {
        display: grid;
        grid-area: head;
        width: auto;
    }



    /** Main **/


    .main {
        display: grid;
        grid-area: main;
        width: 100%;
        margin: 0;
        padding: 0;
    }



    .allCards {

        display: flex;
        flex-direction: column;
    }

    .jack {

        max-width: 40%;
        max-height: 65%;
    }

    /** Contact **/


    .contact {
        display: flex;
        grid-area: contact;
        margin: 0;
        padding: 0;
    }


    .formulaire {
        display: flex;
        margin-top: 15%;
        width: 100%;

    }

    .mailName {
        display: flex;
        flex-direction: column;
    }


    /** Footer **/




    .footerGrid {
        display: grid;
        grid-template-columns: 90%;
        grid-template-rows: auto auto;
        grid-template-areas:
            "part1"
            "part2";
        row-gap: 30px;
    }

    .img-asso {
        width: 100%;
        height: 100%;
    }



}